#node.js
node_modules/

#Environment files
.env

#IDE files
.vscode/
.idea/

#OS files
.DS_Store
Thumbs.db

#Build Artifacts
/dist/
/build/

#log folders
npm-debug.log
yarn-debug.log
yarn-error.log
**/logs/
**/logs-prod/
*.logs
